<p style="color:black; text-align:center">Here Are My Skills</p>
<table border="1"  align="center" style="color:black;">
             <tr>
                    <td>HTML</td>
                    <td>⭐⭐⭐</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td>⭐⭐⭐⭐⭐</td>
                </tr>
                <tr>
                    <td>C++</td>
                    <td>⭐⭐⭐⭐</td>
                </tr>
                <tr>
                    <td>JAVA</td>
                    <td>⭐⭐⭐</td>
                </tr>
                 <tr>
                    <td>DBMS</td>
                    <td>⭐⭐⭐</td>
                </tr>
                <tr>
                    <td>Angular</td>
                    <td>⭐⭐⭐</td>
                </tr>
            
</table>
