 <mat-toolbar color="darkgrey" class="mat-elevation-z5">
  <mat-toolbar-row class="toolbar;">
    <span>Menu</span>
    <button mat-icon-button>
     <mat-icon  style="text-align: right;" aria-hidden="false">favorite-icon</mat-icon></button>  <button mat-icon-button><mat-icon>menu</mat-icon> </button>
     <p style="position:absolute;top:1;right:0;" >Date:{{stringtype}}</p>
      </mat-toolbar-row>
      </mat-toolbar>
<mat-sidenav-container>
      <mat-sidenav mode="side" opened>
        <mat-nav-list class="nav-list">
          <a mat-list-iteam routerLink="Loginpage" ><button  mat-button><mat-icon>home</mat-icon>  Home</button></a><br>
          <a mat-list-iteam routerLink="Date" style="height:60px;"><button mat-button><mat-icon>date</mat-icon>  Date </button></a> <br>
          <a mat-list-iteam routerLink="AddtoCart" style="height:60px;"><button mat-button><mat-icon>add shopping cart icon</mat-icon>  Skills </button></a><br>
          <a mat-list-iteam style="height:60px;" ><button mat-button><mat-icon>delete</mat-icon>Cancel Order</button></a><br>
          <a mat-list-iteam style="height:60px;"><button mat-button><mat-icon>logout</mat-icon>Logout</button></a></mat-nav-list>
        </mat-sidenav>
          <mat-sidenav-content>
          <p style="height:98vh;">
          <router-outlet></router-outlet>
          </p>
        </mat-sidenav-content>
      </mat-sidenav-container>
 