<div style="text-align:center;color: black;" >This is Home</div>
<mat-form-field appearance="fill">
  <label> E-Mail <input matInput placeholder="Email ID" style="margin:30px; width: 250px;" type="email"></label>
  </mat-form-field><pre></pre>
  <mat-form-field appearance="legacy">
  <input style="margin:30px; width: 250px;" heiht placeholder="password" type="password">
</mat-form-field><pre></pre>
<mat-form-field appearance="fill">
 <div class="button">
   </div> <a routerLink="../loginpage"> <button mat-raised-button class='krishna' style="margin: 90px;">Login</button></a>
<img src="/assets//KRISHNA.jpg" alt ="KRISHNA" width="500" height="500"></mat-form-field>


